{% extends "webapp/base.html" %}
{% block content %}
{% load staticfiles %}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="green">
                                    <h4 class="title">New Sale</h4>
                                    <p class="category">Customer Information</p>
                                </div>
                                <div class="card-content">
                                    <form name="new-sale-customer-info">
                                        <div class="row">
                                            <div class="col-md-6 text-center renewal-option" data-type="renewal">
                                                Renewal
                                            </div>
                                            <div class="col-md-6 text-center renewal-option" data-type="new_customer">
                                                New Customer
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Business Name</label>
                                                    <input name="business-name" type="text" class="form-control" required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Authorized Representative</label>
                                                    <input name="auth-rep" type="text" class="form-control" required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Adress</label>
                                                    <input name="service-address" type="text" class="form-control" required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">City</label>
                                                    <input name="service-city" type="text" class="form-control" required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">State</label>
                                                    <input name="service-state" type="text" class="form-control" required="true">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Postal Code</label>
                                                    <input name="service-zip-code" type="text" class="form-control" required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <h4 class="dropdown-label">Subtype</h4>
                                                    <select id="subtype-dropdown" class="selectpicker" data-style="btn-success" data-width="100%" required>
                                                        <option value=""><span style="color:#FFF;">Select Subtype</span></option>
                                                        {% for subtype in subtypes %}
                                                            <option value="{{ subtype.id }}" data='{"monday": "{{ subtype.monday }}", "tuesday": "{{ subtype.tuesday }}", "wednesday": "{{ subtype.wednesday }}", "thursday": "{{ subtype.thursday }}", "friday": "{{ subtype.friday }}", "saturday": "{{ subtype.saturday }}", "sunday": "{{ subtype.sunday }}", "total": "{{ subtype.total_hours_of_operation }}" }'>{{ subtype.name|title }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <h4 class="dropdown-label">Hours of Operation</h4>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Mon</label>
                                                    <input type="number" min="0" max="24" class="form-control weekly-hours" name="monday" placeholder="0">
                                                </div>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Tue</label>
                                                    <input type="number" min="0" max="24" class="form-control weekly-hours" name="tuesday" placeholder="0">
                                                </div>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Wed</label>
                                                    <input type="number" min="0" max="24" class="form-control weekly-hours" name="wednesday" placeholder="0">
                                                </div>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Thu</label>
                                                    <input type="number" min="0" max="24" class="form-control weekly-hours" name="thursday" placeholder="0">
                                                </div>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Fri</label>
                                                    <input type="number" min="0" max="24" class="form-control weekly-hours" name="friday" placeholder="0">
                                                </div>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Sat</label>
                                                    <input type="number" min="0" max="24" class="form-control weekly-hours" name="saturday" placeholder="0">
                                                </div>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Sun</label>
                                                    <input type="number" min="0" max="24" class="form-control weekly-hours" name="sunday" placeholder="0">
                                                </div>
                                                <div class="weekday-input input-group text-center">
                                                    <label>Total</span>
                                                    <input type="number" min="0" max="8760" class="form-control" name="total" placeholder="0" required="true">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary pull-right"  data-background-color="green">Next</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}